.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.container h1 {
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
  font-weight: 100;
  transform: translate(-50%, -50%);
}

.seedocs {
  display: inline-block;
  position: relative;
  color: white;
}

.seedocs::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.seedocs:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container a {
  position: absolute;
  top: 55%;
  left: 50%;
  font-size: larger;
  text-decoration: none;
  color: #fff;
  transform: translate(-50%, -50%);
}

.container p {
  position: absolute;
  top: 47%;
  left: 50%;
  font-size: larger;
  text-decoration: none;
  color: yellow;
  transform: translate(-50%, -50%);
}

.canvas {
  width: 100%;
  height: 100%;
}
